<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>List Sort</title>
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
	<h2>Persons List</h2>
	<label>
		<input type="text" placeholder="Input name" v-model="keyword">
	</label>
	<button @click="sortType = 2">age increase</button>
	<button @click="sortType = 1">age decrease</button>
	<button @click="sortType = 0">original</button>
	<ul>
		<li v-for="p in filteredPersons" :key="p.id">
			{{p.name}}-{{p.age}}-{{p.sex}}
		</li>
	</ul>
</div>
</body>

<script>
	Vue.config.productionTip = false;

	new Vue({
		el: '#root',
		data: {
			keyword: '',
			persons: [
				{id: '001', name: '马冬梅', age: 19, sex: 'female'},
				{id: '002', name: '周冬雨', age: 18, sex: 'female'},
				{id: '003', name: '周杰伦', age: 20, sex: 'male'},
				{id: '004', name: '温兆伦', age: 21, sex: 'male'}
			],
			sortType: 0,
		},
		computed: {
			filteredPersons() {
				const arr =  this.persons.filter(p => {
					return p.name.indexOf(this.keyword) !== -1;
				})
				if (this.sortType === 0) {
					return arr;
				} else if (this.sortType === 1) {
					return arr.sort((p1, p2) => {
						return p2.age - p1.age;
					})
				} else if (this.sortType === 2) {
					return arr.sort((p1, p2) => {
						return p1.age - p2.age;
					})
				}
			}
		}
	})
</script>
</html>